html{
    font-size: medium;
    scroll-behavior: smooth;
}

body{
    box-sizing: border-box;
    position: relative;
    line-height: 2;
    font-family: Helvetica;
    overflow-x: hidden;
    overflow-y: scroll;
    font-family: Helvetica, Arial;
    margin:0;
    background-color: rgb(255, 255, 255);
}

a{
text-decoration: none;
color: inherit;
}

li{
    list-style: none;
}


.header{
    position: fixed;
    width: 100%;
    z-index: 1000;
    background: whitesmoke;
    box-shadow: 0 10px 100px rgba(red, green, blue, 1);
}
@media only screen and (max-width: 56.25em){
    .header-content{
        padding: 0 2rem;
    }
}
.header-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 5rem;
}
.header-pic-name-container{
    display: flex;
    align-items: center;
    color:darkslategray;
    transition: color .3s;
}
@media only screen and (max-width: 56.25em){
    .header-pic-conta{
        width: 4.5rem;
        height: 4.5rem;
        margin-right: 1.2rem;
    }
}
.header-pic-conta{
    width: 5rem;
    height: 5rem;
    border-radius: 50px;
    overflow: hidden;
    margin-right: 2rem;
}
.header_pic{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    display: block;
}
.name{
    font-size: medium;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
}
.header-buttons{
    display: flex;
}

@media only screen and (max-width: 56.25em){
    .abt1{
        height: unset;
        min-height: unset;
    }
}
.abt1{
    min-height: 60rem;
    color: antiquewhite;
    background: linear-gradient(to right, rgba(254, 254, 254, .8), rgba(250, 235, 215, .8)), url(../images/waves.jpg);
    background-position: center;
    max-height: 700rem;
    position: relative;
}
@media only screen and (max-width: 56.25em){
    .abt1-content{
        padding: 19rem 0 13rem 0;
        margin: auto;
        position: static;
        transform: translate(0,0);
    }
}
.abt1-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    max-width: 90rem;
    width: 90%;
}
.heading-primary{
    font-size:x-large;
    text-transform: uppercase;
    letter-spacing: normal;
    text-align: center;
    color: rgb(26, 44, 44);
    font-weight: 700;
}
.abt1-info{
    margin: 3rem auto 0 auto;
    max-width: 85rem;
}
@media only screen and (max-width: 37.5em){
.text-primary {
    font-size: 2rem;
}}
.text-primary{
    color: darkslategrey;
    font-size: large;
    text-align: center;
    width: 100%;
    line-height: 1.5;
}
.abt1-projects{
    margin-top: 5rem;
    text-align: center;
}
.btn {
    background:rgb(26, 44, 44);
    color: wheat;
    text-transform: uppercase;
    letter-spacing: 1px;
    display: inline-block;
    font-weight: 700;
    border-radius: 5px;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,.15);
    transition: transform .3s
}
.btn:hover {
    transform: translateY(-3px)
}
.btn--bg{
    padding: 2rem 8rem;
    font-size: 2rem;
}

.btn--med {
    padding: 1.5rem 5rem;
    font-size: 1.6rem
}

.btn--theme {
    background: azure;
    color: black;
}

.btn--theme-inv {
    color: #111;
    background: wheat;
    border: 2px solid #c6c784;
    box-shadow: none;
    padding: calc(1.5rem - 2px) calc(5rem - 2px)
}

.abtme{
    background: whitesmoke;
}
.sec-pad{
    padding: 12rem 0;
}
.main-container{
    max-width: 12orem;
    margin: auto;
    width: 85%;
}
.heading-sec__mb-med{
    margin-bottom: 8rem;
}
.heading-sec__main{
    display: block;
    font-size: 4rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    text-align: center;
    margin-bottom: 3rem;
    position: relative;
    color:rgb(17, 29, 29);
}
.heading-sec__main--lt{
    color: #111;
    font-weight: 700;
}
.heading-sm{
    font-size: 2.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.heading-sec__sub{
    display: block;
    font-size: 2rem;
    text-align: center;
    color:rgb(23, 36, 36);
    font-weight: 400;
    max-width: 80rem;
    margin: auto;
    line-height: 1.5;
}
.heading-sec__sub--lt{
    color: #333;
    font-weight: 700;
}
.abt-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 8rem;
}
.abt-content-title{
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 3rem;
}
.abtps{
    font-size: medium;
    color: rgb(46, 57, 58);
    max-width: 60rem;
    line-height: 1.5;
    margin-bottom: 1rem;
}
.abtskills-title{
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}
.skills{
    display: flex;
    flex-wrap: wrap;
}
.skills-sk{
    padding: 1rem 2rem;
    margin-bottom: 1.5rem;
    margin-right: 1.5rem;
    font-size: 1.5rem;
    background: wheat;
    border-radius: 5px;
    font-weight: 500;
    color: rgb(36, 35, 35);
}

@media only screen and (max-width: 56.25em){
    .sec-pad {
        padding: 8rem 0;
    }}
@media only screen and (max-width: 56.25em){
    .mb-bg{
        margin-bottom: 8rem;
    }}
@media only screen and (max-width: 56.25em){
   .proj-row {
        text-align: center;
    }}
@media only screen and (max-width: 56.25em){
   .proj-row {
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        margin-bottom: 8rem;
    }}
@media only screen and (max-width: 56.25em){
    .proj-row-desc{
        text-align: center;
    }}
@media only screen and (max-width: 37.5em){
   .proj-row-desc-t {
        font-size: 2.4rem;
    }}
@media only screen and (max-width: 37.5em){
   .proj-row-desc-c {
        font-size: 1.7rem;
    }}
.proj-row{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 3rem;
    margin-bottom: 10rem;
}
.proj-row-img-cont{
    overflow: hidden;
}
.proj-row-img{
    width: 100%;
    display: block;
    object-fit: cover;
}
.proj-row-desc{
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-start;
}
.proj-row-desc-c{
    color: rgb(28, 39, 39);
    max-width: 60rem;
    font-size: 1.8rem;
    line-height: 1.5;
    margin-bottom: 3rem;
}

.contact{
    background: linear-gradient(to right, rgba(254, 254, 254, .8), rgba(250, 235, 215, .8)), url(..images/waves.jpg);
    background-size: cover;
    background-position: center;
}

.main-footer{
    background-color:rgb(59, 68, 80);
    color: aliceblue;
}
@media only screen and (max-width: 37.5em){
    .main-footer__upper{
         display: block;;
     }}
@media only screen and (max-width: 56.25em){
    .main-footer__upper{
        padding: 5rem 0;
    }}
.main-footer__upper{
    display: flex;
    justify-content: space-between;
    padding: 8rem 0;
}
@media only screen and (max-width: 56.25em){
    .main-footer-u-r1 {
    margin-bottom: 5rem;
     }}
.main-footer-u-r1{
    order: 2;
}
.main-footeru-r2{
    margin-top: 2rem;
}
.main-footer-img{
    margin-right: 1rem;
    width: 2.5rem;
}
@media only screen and (max-width: 56.25em){
    .main-footer__lower {
        padding: 3.5rem 0;
     }}
.main-footer__lower{
    border-top: 1px solid #3a3641;
    color: aliceblue;
    font-size: medium;
    text-align: center;
}
